{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-1">Login</h1>
    <p class="lead">Dont have an account? <a href="/register">register here</a>.</p>
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="form-row">
            <div class="col">
                {{form.username.label}}
                {{form.username(class_="form-control")}}
                {% for error in form.username.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col">
                {{form.password.label}}
                {{form.password(class_="form-control")}}
                {% for error in form.password.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-success mt-3">Login</button>
    </form>
</div>
{% endblock %}