{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-1">Create Account</h1>
    <p class="lead">Already have an account? <a href="/login">login here</a>.</p>
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="form-row">
            <div class="col">
                {{form.first_name.label}}
                {{form.first_name(class_="form-control")}}
                {% for error in form.first_name.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col">
                {{form.last_name.label}}
                {{form.last_name(class_="form-control")}}
                {% for error in form.last_name.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col">
                {{form.username.label}}
                {{form.username(class_="form-control")}}
                {% for error in form.username.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col">
                {{form.password.label}}
                {{form.password(class_="form-control")}}
                {% for error in form.password.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col">
                {{form.email.label}}
                {{form.email(class_="form-control")}}
                {% for error in form.email.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-success mt-3">Register</button>
    </form>
</div>
{% endblock %}